$a: green;
$darkgreen: darken($a, 10%);
$lightGreen: lighten($a, 10%);
$b: 20px;
$c: Helvetica, Arial, sans-serif;
$d: 1px #000 solid;

$primaryColor: red;
$baseBoxWidth: 50px;
$baseBoxHeight: 50px;
$dir: "img/";

body{
	background-color: invert($primaryColor);
}
h1{
	font-size: $b;
}
div{
	width:calc(100%/(2+3)-20%); 
	border: $d;
}
#div1{
	background-color: $primaryColor;
	width: $baseBoxWidth;
	height: $baseBoxHeight;
	left: 50%;
}
#div2{
	background-color: darken($primaryColor, 30%);
	width: $baseBoxWidth/2;
	height: $baseBoxHeight/2;
	left: 50%;
}
#div3{
	background-color: lighten($primaryColor, 50%);
	width: $baseBoxWidth/4;
	height: $baseBoxHeight/4;
	left: 50%;
}
#image-bg{
	background: url('#{$dir}lol.jpeg');
}
section{
	div{
		background: red;
	}
	button{
		font-size: 30px;
	}
	h1{color:white;}
	a{text-decoration: none}

}
#random a{
	text-decoration: none;
	&:hover{
		color:white;
	}
	&:visited{
		color:yellow;
	}
}